@font-face {
  font-family: "Aleo";
  src: url("/src/assets/fonts/Aleo-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Aleo-Italic";
  src: url("/src/assets/fonts/Aleo-Italic-VariableFont_wght.ttf")
    format("truetype");
}
